@import '../sass/color';
@import '../sass/links';
@import '../sass/mixin';

html{
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

a, a:hover{
    text-decoration: none;
}

.header{
    width: 100vw;
    // line-height: 10rem;
    background-color: $main-color;

    & .navbar-brand{
        color: $text-color;
        animation: music 1s linear infinite alternate;

        @keyframes music {
            from{
                transform: rotate(5deg);
            }to{
                transform: rotate(-5deg);
            }
        }

        &:hover{
            filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
        }

        & .fas{
            font-size: 4rem;
        }

    }

    & .navbar-nav{
        padding-left: 15rem;

        & .nav-item .nav-link{
            font-size: 1.6rem;
            color: $text-color;
            padding: 3rem;
            text-transform: uppercase;
        }

        & .nav-item:hover > .nav-link{
            color: $primary-color;
        }
    }
    & .navbar-brand:hover, & .navbar-brand:hover>fas{
        color: $primary-color;
    }
    
    & .mybtn{
        @include mybtn1;

        &:hover{
            @include hovereffects;
        }
    }
}


// middle part starts

.middle{
    width: 100%;
    height: 80vh;
    background-color: $middle-color;

    & .middleText{
        height: 80vh;
        @include content_center(flex-start);


        & h2{
            color: $text-color;
            font-size: 7rem;
            margin-bottom: 3rem;
            line-height: 150%;
            font-weight: 600;

            & span{
                color: $primary-color;
                text-transform: uppercase;
            }
        }

        & p{
            font-size: 1.8rem;
            color: $text-color;
            margin-bottom: 5rem;
        }

        & .middleButton{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            & a{
                @include mybtn;

                &:hover{
                    @include hovereffects;
                }
            }

            & #btn_2{
                color: black;
                margin-left: 2rem;
                background-color: rgba(255, 255, 255, 0.5);
                &:hover{
                    @include hovereffects;
                }
            }
        }
    }

    & .image{
        height: 80vh;
        @include content_center(flex-end);
        animation: scale 10s linear infinite alternate;

        @keyframes scale {
            from{
                transform: scale(.7);
            }to{
                transform: scale(1);
            }
        }
    }
}


@media(max-width:768px){
    html{
        font-size: 55%;
    }

    .navbar .navbar-toggler{
        border-color: rgba(255, 255, 255, 0.8);
    }
    .middle .middleText, .middleButton{
        display: block;
        margin: 0 auto;
    }

    .middleText, .middleButton a{
        display: block;
        text-align: center;
    }

    .middleText, .middleButton #btn_2{
        margin-top: 2rem;
        margin-left: 0%;
    }

    .middle .image{
        display: none;
    }
}